{% extends "base.html" %}

{% block content %}
<div class="video-grid">
    <!-- Mock Video 1 -->
    <div class="video-card">
        <div class="thumbnail">
            <img src="https://picsum.photos/seed/lemon1/400/225" alt="Video Thumbnail">
        </div>
        <div class="video-info">
            <div class="avatar" style="background-image: url('https://picsum.photos/seed/avatar1/100/100');"></div>
            <div class="details">
                <div class="video-title">Top 10 Lemon Recipes You Must Try!</div>
                <div class="channel-name">L3mon Chef</div>
                <div class="meta-info">1.2M views • 2 days ago</div>
            </div>
        </div>
    </div>

    <!-- Mock Video 2 -->
    <div class="video-card">
        <div class="thumbnail">
            <img src="https://picsum.photos/seed/lemon2/400/225" alt="Video Thumbnail">
        </div>
        <div class="video-info">
            <div class="avatar" style="background-image: url('https://picsum.photos/seed/avatar2/100/100');"></div>
            <div class="details">
                <div class="video-title">Why Lemons are the Superfood of 2025</div>
                <div class="channel-name">Health Daily</div>
                <div class="meta-info">500K views • 1 week ago</div>
            </div>
        </div>
    </div>

    <!-- Mock Video 3 -->
    <div class="video-card">
        <div class="thumbnail">
            <img src="https://picsum.photos/seed/lemon3/400/225" alt="Video Thumbnail">
        </div>
        <div class="video-info">
            <div class="avatar" style="background-image: url('https://picsum.photos/seed/avatar3/100/100');"></div>
            <div class="details">
                <div class="video-title">Growing a Lemon Tree from Seed - Timelapse</div>
                <div class="channel-name">Green Thumb</div>
                <div class="meta-info">2.5M views • 3 months ago</div>
            </div>
        </div>
    </div>

    <!-- Mock Video 4 -->
    <div class="video-card">
        <div class="thumbnail">
            <img src="https://picsum.photos/seed/lemon4/400/225" alt="Video Thumbnail">
        </div>
        <div class="video-info">
            <div class="avatar" style="background-image: url('https://picsum.photos/seed/avatar4/100/100');"></div>
            <div class="details">
                <div class="video-title">L3mon Tube Rewind 2024</div>
                <div class="channel-name">L3mon Official</div>
                <div class="meta-info">10M views • 1 year ago</div>
            </div>
        </div>
    </div>

    <!-- Mock Video 5 -->
    <div class="video-card">
        <div class="thumbnail">
            <img src="https://picsum.photos/seed/lemon5/400/225" alt="Video Thumbnail">
        </div>
        <div class="video-info">
            <div class="avatar" style="background-image: url('https://picsum.photos/seed/avatar5/100/100');"></div>
            <div class="details">
                <div class="video-title">Sour Challenge: Can we eat 10 lemons?</div>
                <div class="channel-name">Prank Bros</div>
                <div class="meta-info">800K views • 5 hours ago</div>
            </div>
        </div>
    </div>

    <!-- Mock Video 6 -->
    <div class="video-card">
        <div class="thumbnail">
            <img src="https://picsum.photos/seed/lemon6/400/225" alt="Video Thumbnail">
        </div>
        <div class="video-info">
            <div class="avatar" style="background-image: url('https://picsum.photos/seed/avatar6/100/100');"></div>
            <div class="details">
                <div class="video-title">ASMR Cutting Lemons</div>
                <div class="channel-name">Relaxing Sounds</div>
                <div class="meta-info">300K views • 2 days ago</div>
            </div>
        </div>
    </div>

    <!-- Mock Video 7 -->
    <div class="video-card">
        <div class="thumbnail">
            <img src="https://picsum.photos/seed/lemon7/400/225" alt="Video Thumbnail">
        </div>
        <div class="video-info">
            <div class="avatar" style="background-image: url('https://picsum.photos/seed/avatar7/100/100');"></div>
            <div class="details">
                <div class="video-title">Lemonade Stand Business 101</div>
                <div class="channel-name">Entrepreneur Life</div>
                <div class="meta-info">15K views • 1 day ago</div>
            </div>
        </div>
    </div>

    <!-- Mock Video 8 -->
    <div class="video-card">
        <div class="thumbnail">
            <img src="https://picsum.photos/seed/lemon8/400/225" alt="Video Thumbnail">
        </div>
        <div class="video-info">
            <div class="avatar" style="background-image: url('https://picsum.photos/seed/avatar8/100/100');"></div>
            <div class="details">
                <div class="video-title">Secret Lemon Hacks for Cleaning</div>
                <div class="channel-name">Home Hacks</div>
                <div class="meta-info">2.1M views • 4 months ago</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}